html{
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}

body div{
   padding: 0px 100px; 
}

.header, .title, .footer{
    background-color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-list ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a, .title-left p{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-left{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.title-left h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px;
}

.title-left p{
    margin-top: 0px;
    margin-bottom: 8px;
}

.title img{
    background-color: grey;
    color: white;
    width: 500px;
    height: 200px;
    flex-shrink: 0;
    margin-right: 100px;
}

.title-left button{
    border: 0;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 24px;
    width: 100px;
}